In [1]:
import pandas as pd
import numpy as np

In [14]:
# FLIR combine group1 and group2 data
df1 = pd.read_csv('d3-facial-thermography/FLIR_group1.csv', header= 2)
df2 = pd.read_csv('d3-facial-thermography/FLIR_group2.csv', header= 2)

df1['group'] = 1
df2['group'] = 2

# delete blank columns
df1 = df1.loc[:, ~df1.columns.str.startswith('Unnamed:')]
df2 = df2.loc[:, ~df2.columns.str.startswith('Unnamed:')]


# combine the two dataframes
combined = pd.concat([df1, df2], ignore_index=True)
combined.to_csv('d3-facial-thermography/FLIR_G1_G2.csv', index=False)

combined

âœ… Wrote data/face_temp_combined.csv

,SubjectID,T_offset1,Max1R13_1,Max1L13_1,aveAllR13_1,aveAllL13_1,T_RC1,T_RC_Dry1,T_RC_Wet1,T_RC_Max1,...,Gender,Age,Ethnicity,T_atm,Humidity,Distance,Cosmetics,Time,Date,group
0,161117-1,0.58,34.98,35.36,34.44,34.85,34.91,34.91,34.60,34.98,...,Male,41-50,White,24.0,28.0,0.8,NaN,12:43:46,16-11-17,1
1,161117-2,0.83,34.71,34.51,34.46,34.24,34.68,34.68,34.44,34.71,...,Female,31-40,Black or African-American,24.0,26.0,0.8,NaN,15:22:48,16-11-17,1
2,161117-3,0.85,35.70,35.44,35.00,34.78,35.67,35.67,35.46,35.70,...,Female,21-30,White,24.0,26.0,0.8,NaN,15:52:56,16-11-17,1
3,161117-4,0.90,35.17,35.50,34.25,35.00,35.14,35.14,35.08,35.17,...,Female,21-30,Black or African-American,24.0,27.0,0.8,NaN,16:07:53,16-11-17,1
4,161117-5,1.08,35.33,35.55,34.31,35.14,35.50,35.30,35.50,35.52,...,Male,18-20,White,24.0,27.0,0.8,NaN,16:28:06,16-11-17,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,180425-04,1.15,36.05,36.08,35.17,35.28,36.05,36.04,36.04,36.05,...,Female,21-25,Hispanic/Latino,25.7,50.8,0.6,1.0,12:22:18,18-04-25,2
1016,180425-05,1.27,35.51,35.64,34.74,35.08,35.68,35.51,35.68,35.70,...,Female,21-25,Asian,25.7,50.8,0.6,0.0,12:52:10,18-04-25,2
1017,180425-06,1.45,35.98,35.84,35.35,35.16,35.97,35.97,35.88,36.01,...,Female,21-25,White,25.7,50.8,0.6,0.0,14:51:45,18-04-25,2
1018,180502-01,-0.07,36.36,36.25,35.67,35.76,36.34,36.34,36.31,36.36,...,Female,18-20,Black or African-American,28.0,24.3,0.6,0.0,12:14:51,18-05-02,2
1019,180507-01,1.24,35.78,35.70,34.20,34.47,35.76,35.65,35.76,35.78,...,Male,26-30,Hispanic/Latino,25.0,39.8,0.6,0.0,17:17:45,18-05-07,2

In [16]:

# ICI combine group 1 and 2 
df1 = pd.read_csv('d3-facial-thermography/ICI_group1.csv', header= 2)
df2 = pd.read_csv('d3-facial-thermography/ICI_group2.csv', header= 2)

df1['group'] = 1
df2['group'] = 2

# delete blank columns
df1 = df1.loc[:, ~df1.columns.str.startswith('Unnamed:')]
df2 = df2.loc[:, ~df2.columns.str.startswith('Unnamed:')]


# combine the two dataframes
combined = pd.concat([df1, df2], ignore_index=True)
combined.to_csv('d3-facial-thermography/ICI_G1_G2.csv', index=False)

combined

,SubjectID,T_offset1,Max1R13_1,Max1L13_1,aveAllR13_1,aveAllL13_1,T_RC1,T_RC_Dry1,T_RC_Wet1,T_RC_Max1,...,Gender,Age,Ethnicity,T_atm,Humidity,Distance,Cosmetics,Time,Date,group
0,161117-1,-0.27,34.94,35.48,34.05,34.74,34.92,34.92,34.71,34.94,...,Male,41-50,White,24.0,28.0,0.8,NaN,12:43:46,16-11-17,1
1,161117-2,-0.21,33.56,34.93,33.23,34.14,34.80,33.97,34.80,34.89,...,Female,31-40,Black or African-American,24.0,26.0,0.8,NaN,15:22:48,16-11-17,1
2,161117-3,-0.28,35.91,35.60,35.46,34.71,35.83,35.83,35.50,35.91,...,Female,21-30,White,24.0,26.0,0.8,NaN,15:52:56,16-11-17,1
3,161117-4,-0.32,35.25,35.46,33.78,33.88,35.24,35.20,35.22,35.25,...,Female,21-30,Black or African-American,24.0,27.0,0.8,NaN,16:07:53,16-11-17,1
4,161117-5,-0.52,35.57,35.78,34.38,35.27,35.60,35.54,35.60,35.66,...,Male,18-20,White,24.0,27.0,0.8,NaN,16:28:06,16-11-17,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,180425-04,-0.28,35.28,35.50,34.62,34.85,35.73,35.40,35.73,35.75,...,Female,21-25,Hispanic/Latino,25.7,50.8,0.6,1.0,12:22:18,18-04-25,2
1005,180425-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Female,21-25,Asian,25.7,50.8,0.6,0.0,12:52:10,18-04-25,2
1006,180425-06,-0.50,35.87,35.76,35.30,35.51,35.84,35.84,35.76,35.87,...,Female,21-25,White,25.7,50.8,0.6,0.0,14:51:45,18-04-25,2
1007,180502-01,-0.51,36.51,36.47,35.78,35.77,36.54,36.50,36.53,36.55,...,Female,18-20,Black or African-American,28.0,24.3,0.6,0.0,12:14:51,18-05-02,2
1008,180507-01,-0.49,35.90,35.90,35.21,34.89,35.89,35.87,35.87,35.91,...,Male,26-30,Hispanic/Latino,25.0,39.8,0.6,0.0,17:17:45,18-05-07,2